.hero {
	position: relative;
	width: 100%;
	padding: 13em 0;
	object-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heroImage {
	z-index: -1;
}

.heroText {
	position: relative;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heroText > h1 {
	font-size: 5rem;
	font-size: clamp(2rem, 5vw + 1rem, 4.5rem);
}

.heroText > p {
	font-size: 1em;
}
