.container {
	padding: 0 0;
	text-align: center;
	color: white;
	position: relative;
}

.hero > div {
	width: 100%;
	height: 100vh;
	object-position: center center;
}

.hero > h1 {
	font-size: 6rem;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}
