.container {
	background-color: #fff;
	width: 100%;
	padding: 1rem 4rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid grey;
}

.navigation > ul {
	display: flex;
	gap: 20px;
	list-style: none;
	font-size: larger;
}

.navigation > ul > li {
	border-bottom: 2px grey solid;
}

.navigation > ul > li:hover {
	border-bottom: 2px pink dotted;
	cursor: pointer;
}
